body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-receipt,
  #printable-receipt * {
    visibility: visible;
  }
  #printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    background: white;
    color: black;
  }
  .modal-overlay {
    background: none;
  }
}
